includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - routes

    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Call to function method_exists\(\) with \$this\(.*\) and (''info''|''error'') will always evaluate to true\.#'
            path: app/Support/LogCommands.php

    tmpDir: /tmp/phpstan
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
